selenium
webdriver_manager
pandas
keras
scipy
tensorflow
pillow
matplotlib
torch
torchvision
transformers
Numpy==1.23.5
paddlepaddle-gpu
paddlepaddle
paddleocr==2.6.0.1
PyMuPDF==1.21.1
nvidia-tensorrt
timm
opencv-python
pandas
matplotlib
langchain-openai
langchain-core